@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap');

html, h6, p, a {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Gloock";
}

a {
    text-decoration: none;
    color: #2d2d2d;
}

.loading-text {
    color: #095f37
}

.tagline {
    font-family: "Liu Jian Mao Cao", cursive;
}

.logo-team, .player-icon {
    margin: auto;
    height: auto;
    width: 100px;
}

.logo-favorite {
    height: auto;
    width: 50px;
}

.game-logo-team {
    height: auto;
    width: 50px;
}

.standing-logo-team {
    height: auto;
    width: 30px;
}


table {
    font-size: .75rem;
}

td {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.player-name-card {
    font-size: 1rem;
}

.player-num-team {
    font-size: .75rem;
}

.table-heading {
    font-size: .75rem;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.table-heading.team-heading {
    font-size: 1.1rem;
}

.player-detail-picture {
    height: 100%;
    width: 100%;
    transform: scale(1.3);
    object-fit: cover;
    object-position: center top;
}

.large-logo {
    height: 100%;
    width: 100%;
    transform: scale(1.1);
    object-fit: cover;
}

.stats-table th {
    padding-top: 20px;
}

.logo-button {
    background-color: #ffffff00;
    border: none;
}

@media (min-width: 756px) {
    .game-logo-team {
        width: 100px;
    }
}